@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:300,400,500,700');

@offwhite: #F8F8F8;
@blackish: #0A0608;
@reddish: #fb8072;
@lightgray: #C5C5C5;
@darkgray: #606060;
@background: rgba(242, 236, 225, 0.75);

html {
  height: 100%;
}

body {
  color: @blackish;
  background-color: @background;
  margin: 0;
  height: 100%;
  @media screen and (min-width: 500px) {
    font-size: 1em;
  }
  font-family: "Gentium Basic";
}

// default background content class
// ***
// modified by event :set-css-content-class & subs :content-css-class in re-frame

.davm-content {
  background-image:
          linear-gradient(to bottom,
          rgba(0,0,0,0.65),
          rgba(0,0,0,0.15));
          // url('../img/dragon-fold_animated.svg');
}

.space-invader {
  transform: scale(0.5);
}

h1 {
  font-weight: 400;
  font-size: 2em;
}

h1.title {
  font-size: 2.8em;
}

h2, h3 {
  font-weight: 300;
}

a {
  text-decoration: underline;
  color: @reddish;
}

.projects-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category-wrap {
  text-align: center;
  width: 470px;
  height: 630px;
  @media screen and (max-width: 500px) {
    width: 317px;
    height: 450px;
  }
}

.category-projects {
  position: relative;
}

.bubble-wrap-outer {
  position: absolute;
  top: 0;

  width: 252px;
  height: 252px;

  @media screen and (max-width: 500px) {
    width: 170px;
    height: 170px;
    font-size: 0.8em;
  }

  &:hover {
    z-index: 15;
  }
  &:nth-child(1) {
    transform: translate(43%, 0);
    .label-bubble {
      justify-content: center;
    }
  }
  &:nth-child(2) {
    transform: translate(86%, 25%);
    .label-bubble {
      justify-content: flex-end;
    }
  }
  &:nth-child(3) {
    transform: translate(86%, 75%);
    .label-bubble {
      justify-content: flex-end;
    }
  }
  &:nth-child(4) {
    transform: translate(43%, 100%);
    .label-bubble {
      justify-content: center;
    }
  }
  &:nth-child(5) {
    transform: translate(0, 75%);
    .label-bubble {
      justify-content: flex-start;
    }
  }
  &:nth-child(6) {
    transform: translate(0, 25%);
    .label-bubble {
      justify-content: flex-start;
    }
  }
}

.bubble-wrap-inner {
  position: relative;
  width: 100%;
  height: 100%;
  &:hover {
    .img-bubble div {
      visibility: visible;
    }
  }
}

.bubble {
  position: absolute;
  text-align: center;
  border-radius: 50% 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img-bubble {
  overflow: hidden;
  border: 2px solid;
  div {
    width: 100%;
    height: 100%;
    background-size: 100%;
    visibility: hidden;
  }
}

.color-bubble {
  opacity: 0.5;
}

.label-bubble {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0.9em;
  .label { width: 100% }
  mark {
    background-color: white;
    padding: 0 0.25em;
  }
}

.project-view-wrap {
  display: flex;
  flex-flow: row wrap;

  .project-view-details {
    flex: 1;
    margin: 1.75em 0 0 2em;
    @media screen and (max-width: 414px) {
      margin: 0 0 2em 0;
    }
  }

  .project-view-image {
    width: 252px;
    height: 252px;
    margin: 2em 0 0 0;
  }
}

header {
  text-align: center;
  .img-wrapper {
    width: 100%;
    height: 14em;
    margin-bottom: 22px;
    background-image: url('../img/dragon-fold-header-animated.svg');
    background-repeat: repeat-x;
    background-size: 20%;
    background-position: bottom;
    padding-top: 9em;
    @media screen and (max-width: 1250px) {
      background-size: 25%;
    }
    @media screen and (max-width: 950px) {
      background-size: 32%;
    }
    @media screen and (max-width: 750px) {
      background-size: 45%;
    }
    @media screen and (max-width: 625px) {
      height: 13em;
      padding-top: 8em;
    }
    @media screen and (max-width: 500px) {
      margin-bottom: 30px;
      height: 11em;
      padding-top: 6em;
    }
    .logo:hover {
      opacity: 0.9;
    }
  }
  .logo-text {
    width: 400px;
    @media screen and (max-width: 575px) {
      width: 300px;
    }
    @media screen and (max-width: 375px) {
      width: 250px;
    }
  }
  h1 {
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 0;
  }
  p {
    margin-top: 0.3em;
    font-weight: 500;
    font-size: 1.2em;
  }
}

.nav {
  z-index: 10;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: @blackish;
  font-weight: 500;
  text-transform: lowercase;
  div {
    display: flex;
    align-items: center;
    background-color: white;
    height: 3em;
  }
  span {
    padding: 0 20px;
  }
  a {
    color: @blackish;
    text-decoration: none;
    &:hover, &:focus {
      font-style: italic;
    }
  }
}

.flex-row {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.footer {
  -webkit-justify-content: space-around;
  justify-content: space-around;
  .dragon-fold {
    width: 42.5%;
    margin-left: 5%;
    padding: 3em 0;
    @media screen and (max-width: 980px) {
      display: none;
    }
  }
  .about {
    width: 42.5%;
    margin: 5%;
    padding: 1.5em;
    a { color: @blackish }
    h1 {
      margin-top: 0;
      font-size: 1.8em;
      font-weight: 500;
    }
    h2 {
      font-weight: 400;
      font-size: 1.1em;
    }
    @media screen and (max-width: 980px) {
      width: 100%;
      padding: 2em;
      margin-left: 0;
      margin-right: 0;
    }
    @media screen and (min-width: 700px) {
      h1 {
        font-size: 2.3em;
      }
      h2 {
        font-size: 1.4em;
      }
    }
  }
}

h2.gallery-label {
  color: white;
  position: absolute;
  margin: 0.35em 1em;
  font-size: 1.8em;
  @media screen and (max-width: 499px) {
    margin: 0.27em 0.25em;
    font-size: 1.4em;
  }
}

div.gallery-filter {
  position: absolute;
  margin-left: 2.3em;
  margin-top: 345px;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  color: white;
  @media screen and (max-width: 790px) {
    font-size: 0.85em;
  }
  @media screen and (max-width: 660px) {
    font-size: 0.75em;
  }
  @media screen and (max-width: 499px) {
    margin-left: 12px;
    margin-top: 235px;
    font-size: 0.9em;
  }
  @media screen and (max-width: 400px) {
    display: none;
  }
  .filter-button {
    margin-left: 15px;
  }
  p {
    margin: 0;
  }
  .filter-title {
    color: rgba(255,255,255,0.65);
    text-decoration: none;
    cursor: pointer;
  }
}

.scrolling-gallery {
  background-color: @blackish;
  overflow-x: scroll;
  height: 290px;
  @media screen and (min-width: 500px) {
    height: 400px;
  }
  @media screen and (max-width: 400px) {
    height: 240px;
  }
  .title {
    margin: 0 0 0.5em 0;
  }
  .gallery-row {
    display: inline-flex;
    img {
      max-width: inherit; // tachyons img overwrite fix
    }
    padding-top: 66px;
    @media screen and (max-width: 499px) {
      padding-top: 2.5em;
    }
  }
  .gallery-item {
    position: relative;
    height: 175px;
    @media screen and (min-width: 500px) {
      height: 250px;
    }
    margin: 0 0.95em !important;
  }
  img {
    height: 100%;
    width: auto;
    border-radius: .15em;
  }
  .image-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.75);
    font-weight: normal;
    text-align: center;
    border-radius: 0 0 0.15em 0.15em;
    padding: 0.45em 0 0.4em 0;
  }
  .pswp__caption__center {
    text-align: center;
    max-width: 500px;
    a.rainbow {
      text-decoration: none;
      color: crimson;
    }
  }
  .tech {
    font-size: 0.75em;
  }
}

.talks {
  height: 240px;
  @media screen and (min-width: 500px) {
    height: 350px;
  }
}

// Project Gallery
// ***

.project-gallery, .talks-gallery {
  img {
    height: 100%;
    width: auto;
  }
  figcaption {
    display: none;
  }
  figure {
    display: block;
    float: left;
    margin: 0.66%;
  }
}

/*This is coded CSS rainbow*/

.rainbow:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}

// custom scrollbar

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: @lightgray;
}

#style-3::-webkit-scrollbar
{
	height: 8px;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: @darkgray;
  border-radius: 10px;
}

// profiles styles
// ***

iframe.embed {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}


// tachyons profile project list
// ***

.profile {

  .outline {
    outline: 1px solid;
  }

  .cf:before, .cf:after {
    content: " ";
    display: table;
  }

  .cf:after {
    clear: both;
  }

  .cf {
    *zoom: 1;
  }

  .db {
    display: block;
  }

  .fl {
    float: left;
    _display: inline;
  }

  .fw4 {
    font-weight: 400;
  }

  .lh-copy {
    line-height: 1.5;
  }

  .link {
    text-decoration: none;
    transition: color .15s ease-in;
  }

  .link:link, .link:visited {
    transition: color .15s ease-in;
  }

  .link:hover {
    transition: color .15s ease-in;
  }

  .link:active {
    transition: color .15s ease-in;
  }

  .link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
  }

  .w-50 {
    width: 50%;
  }

  .w-100 {
    width: 100%;
  }

  .black-10 {
    color: rgba(0, 0, 0, .1);
  }

  .black {
    color: #000;
  }

  .gray {
    color: #777;
  }

  .pa2 {
    padding: .5rem;
  }

  .pa3 {
    padding: 1rem;
  }

  .ml0 {
    margin-left: 0;
  }

  .mt2 {
    margin-top: .5rem;
  }

  .mv0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .tc {
    text-align: center;
  }

  .ttu {
    text-transform: uppercase;
  }

  .f3 {
    font-size: 1.5rem;
  }

  .f6 {
    font-size: .875rem;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .clip {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }

  .dim {
    opacity: 1;
    transition: opacity .15s ease-in;
  }

  .dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
  }

  .dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .w-25-m {
      width: 25%;
    }
  }

  @media screen and (min-width: 60em) {
    .w-20-l {
      width: 20%;
    }
  }
}

// tychons overwrites

img {
  //max-width: inherit !important;
}
