@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
html {
  height: 100%;
}
.white {
  color: white;
}
body {
  color: #2f1916;
  margin: 0;
  height: 100%;
  font-family: Quicksand;
  font-weight: 300;
}
@media screen and (min-width: 500px) {
  body {
    font-size: 1.1em;
  }
}
#bg {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #685c5a, #fcfcfc);
  background-size: cover;
}
.content {
  z-index: 1;
}
h1 {
  font-size: 2.25em;
  margin: 0.1em 0;
}
@media screen and (min-width: 500px) {
  h1 {
    font-size: 3em;
  }
}
h1,
h2,
h3 {
  font-weight: 300;
}
h2 mark {
  background-color: #e3eee6;
  color: #2f1916;
  padding: 2px 10px 2px 6px;
  font-weight: bold;
  font-style: italic;
}
h3 mark {
  font-weight: normal;
  font-style: italic;
  color: #e3eee6;
  background-color: #2f1916;
  padding: 2px 7px 2px 5px;
}
.header {
  font-weight: 400;
  padding: 0.5em 0.75em 0 0.75em;
}
@media screen and (min-width: 500px) {
  .header {
    padding: 1.75em 2.5em 1em 2.5em;
  }
}
.header h1 {
  color: #f2f2f2;
  font-family: "helvetica", sans-serif;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.05em;
  text-shadow: 2px 2px rgba(47, 25, 22, 0.75);
}
.header .subtitle {
  margin: 0 0 0 0.5em;
}
.header h3 {
  margin-top: 0;
}
.header .logo:hover {
  opacity: 0.75;
}
.header nav {
  float: right;
  background-color: #e3eee6;
  color: #2f1916;
  font-weight: bold;
  margin-top: 0.25em;
  padding: 3px 0;
}
.header nav span {
  padding: 0 10px;
}
.header nav a {
  color: #2f1916;
  text-decoration: none;
}
.header nav a:hover {
  color: #2f1916;
  text-decoration: none;
  font-style: italic;
}
.header nav a:focus {
  color: #2f1916;
  text-decoration: none;
  font-style: italic;
}
.home-wrap .greet {
  text-align: center;
  font-weight: 300;
  padding: 3em 0;
}
.home-wrap .greet h1 {
  font-size: 2.15em;
}
@media screen and (min-width: 500px) {
  .home-wrap .greet h1 {
    font-size: 4.5em;
  }
}
.home-wrap .greet p {
  font-size: 1.1em;
  margin: 0;
}
@media screen and (min-width: 500px) {
  .home-wrap .greet p {
    font-size: 2em;
  }
}
.home-wrap .greet a {
  text-decoration: underline;
  color: white;
}
.home-wrap .greet a:hover {
  color: #2f1916;
}
@media screen and (min-width: 500px) {
  .home-wrap .greet {
    padding: 4.5em 0 8em 0;
  }
}
.home-wrap .values {
  padding-top: 4em;
}
@media screen and (max-width: 499px) {
  .home-wrap .values {
    padding-top: 1em;
  }
}
@media screen and (min-width: 500px) {
  .home-wrap .values img {
    margin: 0.75em;
  }
}
.home-wrap .values .text-box {
  font-size: 1.5em;
  align-self: flex-start;
  text-align: center;
  width: 12.3em;
  margin: 0.75em;
}
.home-wrap .values .text-box h2 {
  margin: 0.25em 0;
}
.home-wrap .process {
  width: 75%;
  margin: 0 auto;
  padding: 3.5em 0 7em 0;
  font-style: italic;
}
@media screen and (max-width: 499px) {
  .home-wrap .process {
    padding-bottom: 6em;
    width: 85%;
  }
}
.home-wrap .process h2 {
  font-weight: bold;
}
.home-wrap .process .graphic {
  margin: 3em 0;
  text-align: center;
}
.home-wrap .definition {
  font-weight: 400;
  background-color: #f2f2f2;
  padding: 3em 0 3em 4em;
  font-size: 1.5em;
}
@media screen and (max-width: 499px) {
  .home-wrap .definition {
    padding: 2.75em 1em 3em 1.5em;
    font-size: 1em;
  }
}
.home-wrap .definition h1 {
  font-size: 2.5em;
}
.home-wrap .definition h2 {
  margin: 0;
  margin-bottom: 1em;
}
.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
h2.section-label {
  margin: 0 1em;
}
@media screen and (max-width: 499px) {
  h2.section-label {
    margin: 0;
    font-size: 1.25em;
  }
}
.scrolling-gallery {
  background-color: #594B4A;
  overflow-x: scroll;
  height: 240px;
}
@media screen and (min-width: 500px) {
  .scrolling-gallery {
    height: 350px;
  }
}
.scrolling-gallery mark {
  position: absolute;
}
.scrolling-gallery .title {
  margin: 0 0 0.5em 0;
}
.scrolling-gallery .gallery-row {
  display: inline-flex;
  padding-top: 3em;
}
@media screen and (max-width: 499px) {
  .scrolling-gallery .gallery-row {
    padding-top: 2em;
  }
}
.scrolling-gallery .gallery-item {
  position: relative;
  height: 175px;
  margin: 0.5em !important;
}
@media screen and (min-width: 500px) {
  .scrolling-gallery .gallery-item {
    height: 250px;
  }
}
.scrolling-gallery img {
  height: 100%;
  width: auto;
  border-radius: .15em;
}
.scrolling-gallery .image-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #e3eee6;
  background-color: #2f1916;
  font-weight: normal;
  text-align: center;
  border-radius: 0 0 0.15em 0.15em;
  padding: 0.45em 0 0.4em 0;
}
.scrolling-gallery .pswp__caption__center {
  text-align: center;
  max-width: 500px;
}
.popover-content a {
  text-decoration: underline;
  color: olivedrab;
}
.popover-content a:hover {
  color: yellowgreen;
}
.popover-title {
  background-color: none;
  border: none;
}
.about {
  box-shadow: 4px 5px rgba(47, 25, 22, 0.75);
  background-color: #e3eee6;
  margin: 0.5em 2.5em;
  padding: 1em;
  width: 70%;
}
@media screen and (max-width: 1070px) {
  .about {
    width: 90%;
  }
}
.about h3 {
  font-style: normal;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
.project-gallery img,
.talks-gallery img {
  height: 100%;
  width: auto;
}
.project-gallery figcaption,
.talks-gallery figcaption {
  display: none;
}
.project-gallery figure,
.talks-gallery figure {
  display: block;
  float: left;
  margin: 0.66%;
}
