@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
html {
  height: 100%;
}
.white {
  color: white;
}
body {
  color: white;
  margin: 0;
  height: 100%;
  font-family: Quicksand;
  font-weight: 300;
}
@media screen and (min-width: 500px) {
  body {
    font-size: 1.1em;
  }
}
.content {
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)), url('../img/dragon-fold_animated.svg');
}
h1 {
  font-size: 2.25em;
  margin: 0.1em 0;
}
@media screen and (min-width: 500px) {
  h1 {
    font-size: 3em;
  }
}
h1,
h2,
h3 {
  font-weight: 300;
}
h2 {
  font-size: 1.4em;
  font-weight: 400;
  padding: 2px 8px 2px 6px;
}
.header {
  font-weight: 400;
  padding: 0.5em 0.75em 0 0.75em;
}
@media screen and (min-width: 500px) {
  .header {
    padding: 1.75em 2.5em 1em 2.5em;
  }
}
.header h1 {
  color: #f2f2f2;
  font-size: 2em;
  font-family: "helvetica", sans-serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -0.025em;
  text-shadow: 2px 2px rgba(47, 25, 22, 0.8);
}
.header .subtitle {
  font-size: 1.15em;
  margin: 0 0 0 0.25em;
}
@media screen and (min-width: 500px) {
  .header .subtitle {
    font-size: 1.5em;
    margin: 0 0 0 0.5em;
  }
}
.header h3 {
  margin-top: 0;
}
.header .logo:hover {
  opacity: 0.75;
}
.header nav {
  float: right;
  background-color: #f2f2f2;
  color: #0a0608;
  font-weight: bold;
  margin-top: 0.25em;
  padding: 3px 0;
}
.header nav span {
  padding: 0 10px;
}
.header nav a {
  color: #0a0608;
  text-decoration: none;
}
.header nav a:hover {
  color: #0a0608;
  text-decoration: none;
  font-style: italic;
}
.header nav a:focus {
  color: #0a0608;
  text-decoration: none;
  font-style: italic;
}
.home-wrap .greet {
  text-align: center;
  font-weight: 300;
  padding: 3em 0 3.75em 0;
}
.home-wrap .greet h1 {
  font-size: 2.15em;
}
@media screen and (min-width: 500px) {
  .home-wrap .greet h1 {
    font-size: 4.5em;
  }
}
.home-wrap .greet p {
  font-size: 1.1em;
  margin: 0;
}
@media screen and (min-width: 500px) {
  .home-wrap .greet p {
    font-size: 2em;
  }
}
.home-wrap .greet a {
  text-decoration: underline;
  color: white;
}
.home-wrap .greet a:hover {
  color: #0a0608;
}
@media screen and (min-width: 500px) {
  .home-wrap .greet {
    padding: 4.5em 0 8em 0;
  }
}
.home-wrap .values {
  -webkit-flex-flow: column;
  flex-flow: column;
  padding: 5.5em 0;
}
.home-wrap .values .text-box {
  font-size: 1.6em;
  text-align: center;
  width: 12.3em;
  margin: 0.75em 0.25em;
}
.home-wrap .values .text-box h2 {
  color: white;
  margin: 0.25em 0;
}
@media screen and (max-width: 499px) {
  .home-wrap .values {
    padding: 1em;
  }
  .home-wrap .values .text-box {
    width: auto;
  }
}
@media screen and (min-width: 500px) {
  .home-wrap .values img {
    margin: 0.75em;
  }
}
.home-wrap .process {
  width: 77%;
  margin: 0 auto;
  padding: 3.5em 0 6em 0;
  font-style: italic;
}
@media screen and (max-width: 499px) {
  .home-wrap .process {
    width: 85%;
  }
}
.home-wrap .process h2 {
  color: white;
  font-weight: bold;
}
.home-wrap .process .graphic {
  margin: 3em 0;
  text-align: center;
}
.home-wrap .definition {
  font-weight: 400;
  padding: 4em 0 3em 4em;
  font-size: 1.5em;
}
@media screen and (max-width: 499px) {
  .home-wrap .definition {
    padding: 2.75em 1em 3em 1.5em;
    font-size: 1em;
  }
}
.home-wrap .definition h1 {
  font-size: 2.5em;
}
.home-wrap .definition h2 {
  margin: 0;
  margin-bottom: 1em;
}
.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
h2.gallery-label {
  color: white;
  position: absolute;
  margin: 0.22em 1em;
  font-size: 2em;
}
@media screen and (max-width: 499px) {
  h2.gallery-label {
    margin: 0.15em 0.25em;
    font-size: 1.4em;
  }
}
.scrolling-gallery {
  background-color: #0a0608;
  overflow-x: scroll;
  height: 240px;
}
@media screen and (min-width: 500px) {
  .scrolling-gallery {
    height: 365px;
  }
}
.scrolling-gallery .title {
  margin: 0 0 0.5em 0;
}
.scrolling-gallery .gallery-row {
  display: inline-flex;
  padding-top: 3.75em;
}
@media screen and (max-width: 499px) {
  .scrolling-gallery .gallery-row {
    padding-top: 2.5em;
  }
}
.scrolling-gallery .gallery-item {
  position: relative;
  height: 175px;
  margin: 0 0.95em !important;
}
@media screen and (min-width: 500px) {
  .scrolling-gallery .gallery-item {
    height: 250px;
  }
}
.scrolling-gallery img {
  height: 100%;
  width: auto;
  border-radius: .15em;
}
.scrolling-gallery .image-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  font-weight: normal;
  text-align: center;
  border-radius: 0 0 0.15em 0.15em;
  padding: 0.45em 0 0.4em 0;
}
.scrolling-gallery .pswp__caption__center {
  text-align: center;
  max-width: 500px;
}
.scrolling-gallery .tech {
  font-size: 0.75em;
  font-style: italic;
}
.project-gallery img,
.talks-gallery img {
  height: 100%;
  width: auto;
}
.project-gallery figcaption,
.talks-gallery figcaption {
  display: none;
}
.project-gallery figure,
.talks-gallery figure {
  display: block;
  float: left;
  margin: 0.66%;
}
/*This is coded CSS rainbow*/
a.rabbit {
  text-decoration: none;
  color: crimson;
}
.rabbit:hover {
  -webkit-animation: rainbow 1s infinite;
  -ms-animation: rainbow 1s infinite;
  -o-animation: rainbow 1s infinite;
  animation: rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
@-ms-keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
@-o-keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
@keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0a0608;
}
#style-3::-webkit-scrollbar {
  height: 6px;
  background-color: #0a0608;
}
#style-3::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
